
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

:root {
  
  --primary-color: #ffde06;
  --secondary-color: #ffffff;
  ---tertiary-color: #000000;
  --background-color: #3b3b38d7;

  
  --font: "Roboto", sans-serif;

  
  --font-weight-text: 300;
  --font-weight-text-bold: 500;
  --font-weight-text-title: 700;

  
  --font-size-standard: 1.25rem; 
  --font-size-title: calc(var(--font-size-standard) * 2);

  
  --spacing: 0.5rem; 
  --spacing-x2: calc(var(--spacing) * 2);

  
  --search-border-radius: 1.25rem; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}
