body {
  background-image: url("src/public/images/planets/fond1.jpg");
}
.background {
  h1 {
    display: flex;
    color: var(--secondary-color);
    font-family: var(--font);
    font-size: 2rem;
    padding: 0.5rem;
    margin-bottom: 1%;
    margin-left: 5%;
  }
  .img-container {
    position: absolute;
    .img-background-planet {
      width: 100%;

      animation-name: slideIn;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      z-index: -1;
    }
  }
  .background-Dagobah {
    width: 100px;
    left: 59%;
    .img-background-planet {
      border: 1px solid red;
      width: 100%;

      animation-name: slideIn;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      z-index: -1;
    }
  }
  .background-Tatooine {
    width: 50px;
    left: 55%;
    bottom: 25%;
  }
  .background-Yavin {
    left: 35%;
    bottom: 15%;
    width: 18%;
  }
  .background-Mustafar {
    left: 20%;
    bottom: 8%;
    width: 20%;
  }
  .background-Alderaan {
    left: 65%;
    bottom: 10%;
    width: 5%;
  }
  .background-Naboo {
    top: 50%;
    left: 10%;
    width: 10%;
  }
}
@keyframes slideIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
