body {
  background-image: url("src/public/images/planets/fond1.jpg");
}
.background {
  .img-container {
    position: absolute;

    .img-background-planet {
      width: 100%;
      animation-name: slideIn;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      z-index: -1;
    }

    .img-background-planet:hover {
      cursor: pointer;
    }
  }
  .background-Dagobah {
    width: 800px;
    left: 75%;
    top: 0%;
  }
  .background-Tatooine {
    width: 150px;
    left: 60%;
    bottom: 30%;
  }
  .background-Yavin {
    left: 40%;
    bottom: 18%;
    width: 18%;
  }
  .background-Mustafar {
    left: 28%;
    bottom: 10%;
    width: 10%;
  }
  .background-Alderaan {
    left: 68%;
    bottom: 12%;
    width: 150px;
  }
  .background-Naboo {
    bottom: 15%;
    left: 5%;
    width: 15%;
  }

  // DESTROYER ANIMATION
  $size: 200px;
  .x,
  .y {
    width: $size;
    height: $size;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .x {
    animation: x 13s linear infinite alternate;
  }

  .y {
    animation: y 4s linear infinite alternate;
  }

  @keyframes x {
    100% {
      transform: translateX(calc(100vw - #{$size}));
    }
  }

  @keyframes y {
    100% {
      transform: translateY(calc(100vh - #{$size}));
    }
  }
}

@keyframes slideIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

// Partie reponsive mobile
@media screen and (max-width: 600px) {
  body {
    background-size: 150vh;
  }
  .background {
    .img-container {
      .img-background-planet {
        z-index: 1;
        width: 80%;
      }
    }
    .background-Dagobah {
      width: 40%;
      left: 5%;
      top: 65%;
    }
    .background-Tatooine {
      width: 130px;
      left: 65%;
      bottom: 13%;
    }
    .background-Yavin {
      left: 75%;
      bottom: 50%;
      width: 20%;
    }
    .background-Mustafar {
      left: 70%;
      bottom: 70%;
      width: 22%;
    }
    .background-Alderaan {
      left: 35%;
      bottom: 0%;
      width: 40%;
    }
    .background-Naboo {
      bottom: 70%;
      left: 6%;
      width: 25%;
    }
  }
  $size: 100px;
  .x,
  .y {
    visibility: hidden;
  }
}
