.booking-container {
  margin: 0 auto;
  background-color: var(--background-color);
  border-radius: var(--search-border-radius);
  width: 50vw;
  color: var(--secondary-color);
  padding: calc(var(--spacing) * 7.5) calc(var(--spacing) * 3)
    calc(var(--spacing) * 4) calc(var(--spacing) * 3);
  margin-bottom: calc(var(--spacing) * 5);

  h2 {
    font-weight: var(--font-weight-text--bold);
    font-size: calc(var(--font-size-standard) * 1.4);
  }

  h3 {
    font-weight: var(--font-weight--text--bold);
    font-size: var(--font-size-standard);
  }

  p {
    font-weight: var(--font-weight-text);
    padding-bottom: calc(var(--spacing) * 3);
    font-size: calc(var(--font-size-standard) * 1);
  }

  //first block with title and driver name
  .booking-title {
    display: flex;
    justify-content: center;
  }

  .booking-driver-text {
    padding-top: calc(var(--spacing) * 1.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .booking-drivername {
    color: var(--primary-color);
  }

  //second block with images and informations
  .booking-images-infos {
    display: flex;
    justify-content: space-around;
    padding: calc(var(--spacing) * 3.4) 5% calc(var(--spacing) * 4) 5%;
  }

  .booking-driver-photo {
    width: 25%;
    min-width: 140px;
    height: 30vh;
    object-fit: cover;
  }

  //second block : right side of block
  .booking-infos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: calc(var(--spacing) * 3) 0 calc(var(--spacing) * 3) 0;
  }

  //second block : first part with départ, destination and vehicle image
  .booking-planet-vehiclephoto {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 4);
  }

  .booking-vehicle-photo {
    width: 12vw;
    object-fit: cover;
  }

  //second block : second part with icons and passagers, snowspeeder
  .booking-passenger-vehicle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .booking-passenger {
    display: flex;
  }

  .booking-vehicle {
    display: flex;
  }
  .icon-passenger {
    height: 30px;
    padding-right: calc(var(--spacing) * 2.2);
  }

  .icon-vehicle {
    height: calc(var(--spacing) * 4);
    padding-right: calc(var(--spacing) * 2.2);
  }

  //third block : button
  button {
    background-color: var(--primary-color);
    padding: calc(var(--spacing) * 1.8) calc(var(--spacing) * 3.2);
    border-radius: calc(var(--search-border-radius) * 0.5);
    font-family: var(--font);
    font-weight: bold;
    font-size: calc(var(--font-size-standard) * 0.8);
    border: none;
  }

  .button-home {
    display: flex;
    justify-content: center;
    padding-top: calc(var(--spacing) * 3);
  }
}

// Partie reponsive mobile
@media screen and (max-width: 360px) {
  .booking-container {
    width: 80vw;
    height: 70vh;

    h2 {
      font-size: calc(var(--font-size-standard) * 0.9);
      text-align: center;
    }

    h3 {
      font-size: calc(var(--font-size-standard) * 0.6);
    }
  }
}
