.title {
  h1 {
    font-size: calc(var(--font-size-standard) * 1.2);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
  }
}

.container-captcha {
  margin-left: 32%;

  background-color: var(--background-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 550px;
  height: 450px;
  padding: 30px;

  h2 {
    padding: 10px;
    font-size: calc(var(--font-size-standard) * 0.8);
    font-weight: 300;
    color: var(--secondary-color);
  }
}

.container-img {
  border: 1px solid red;
  width: 500px;
  height: 300px;

  .chewbacca {
    width: 100%;
    height: 100%;
  }
}
