@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.driver-page {
  //< Filters />
  .filterBlock {
    display: flex;
    justify-content: center;
  }

  //all the elements except logo on top
  .filter-search-cards {
    margin: auto;
    display: grid;
    grid-template-columns: (1fr 2fr);
  }

  .cards {
    padding-top: calc(var(--spacing) * 4);
  }

  //style for driver card
  @keyframes scaleIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .driver-card {
    animation: scaleIn 0.8s ease-out;
    display: flex;
    background-color: var(--background-color);
    width: 50vw;
    border-radius: 10px;
    color: var(--secondary-color);
    padding: calc(var(--spacing) * 3);
    gap: 15px;
    font-family: var(--font);
    margin-bottom: 20px;
    position: relative;
    margin-bottom: calc(var(--spacing) * 4);

    h2 {
      margin-bottom: 20px;
      font-size: calc(var(--font-size-standard) * 1.5);
    }

    p {
      font-weight: 200;
      padding: 4px 0;
    }

    .info-container {
      width: 100%;
      padding: calc(var(--spacing) * 1) calc(var(--spacing) * 0.8);
    }

    .drivername-favorite {
      display: flex;
      justify-content: space-between;
      //align-items: flex-start;
    }

    .driverImgDiv {
      width: 300px;
      height: 260px;
      overflow: hidden;
      border-radius: 5px;
      border: 1px solid var(--secondary-color);
      box-shadow:
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 3px #fff,
        0 0 4px #fff,
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        inset 0 0 10px #fff,
        inset 0 0 15px #fff,
        inset 0 0 20px #fff;

      display: flex;
      justify-content: center;
    }

    .driverImg {
      object-fit: cover;
    }

    .info-vehicleImage-button {
      padding-top: calc(var(--spacing) * 2);
      display: flex;
    }

    .vehicleImage-button {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    npm .card-information {
      width: 100%;
    }

    .vehicleImage-container {
      width: 140px;
      min-height: 140px;
    }

    .starshipImg {
      width: 100%;
    }

    .book {
      transition:
        transform 0.5s ease,
        box-shadow 0.5s ease;
      box-shadow: 0px 1px 0px 0px #fff6af;
      background: linear-gradient(to bottom, #f0da37 5%, #ffde06 100%);
      background-color: #f3de3c;
      border: 1px solid var(--tertiary-color);
      display: inline-block;
      text-shadow: 0px 1px 0px #ffee66;
      text-decoration: none;
      font-size: calc(var(--font-size-standard) * 0.8);
      padding: 7% 3%;
      border-radius: 10px;
      font-family: var(--font);
      font-size: var(--font-size-standard);
      border: none;
      width: 10vw;
      cursor: pointer;
    }
    .book:hover {
      transform: scale(1.1);
      background: linear-gradient(to bottom, #ffde06 5%, #ffec64 100%);
      background-color: var(--tertiary-color);
    }
  }

  .isFavorite {
    width: 40px;
    height: 40px;
    background: none;
    border-style: none;
    background-image: url(src/public/images/icons/yellow-heart.256x205.png);
    background-repeat: no-repeat;
    background-size: 100%;
    align-self: flex-end;
    cursor: pointer;
  }

  .notFavorite {
    width: 40px;
    height: 40px;
    background: none;
    border-style: none;
    background-image: url(src/public/images/icons/yellow-heart.256x213.png);
    background-repeat: no-repeat;
    background-size: 100%;
    align-self: flex-end;
    cursor: pointer;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loaderText {
  text-align: center;
  color: var(--secondary-color);
  width: 100%;
  font-size: calc(var(--font-size-standard) * 2);
}

.wookieLoader {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
  }
}

// Partie reponsive mobile
@media screen and (max-width: 360px) {
}
