.driver-page {
  //< Filters />
  .filterBlock {
    display: flex;
    justify-content: center;
  }

  //all the elements except logo on top
  .filter-search-cards {
    margin: auto;
    display: grid;
    grid-template-columns: (1fr 2fr);
  }

  .cards {
    padding-top: calc(var(--spacing) * 4);
  }

  //style for driver card
  .driver-card {
    display: flex;
    background-color: var(--background-color);
    width: 50vw;
    border-radius: 10px;
    color: var(--secondary-color);
    padding: calc(var(--spacing) * 3);
    gap: 15px;
    font-family: var(--font);
    margin-bottom: 20px;
    position: relative;
    margin-bottom: calc(var(--spacing) * 4);

    h2 {
      margin-bottom: 20px;
      font-size: calc(var(--font-size-standard) * 1.5);
    }

    p {
      font-weight: 200;
      padding: 4px 0;
    }

    .info-container {
      width: 100%;
      padding: calc(var(--spacing) * 1) calc(var(--spacing) * 0.8);
    }

    .drivername-favorite {
      display: flex;
      justify-content: space-between;
      //align-items: flex-start;
    }

    .driverImgDiv {
      width: 300px;
      height: 260px;
      overflow: hidden;
      border-radius: 5px;
      border: 1px solid var(--secondary-color);
      display: flex;
      justify-content: center;
    }

    .driverImg {
      object-fit: cover;
    }

    .info-vehicleImage-button {
      padding-top: calc(var(--spacing) * 2);
      display: flex;
    }

    .vehicleImage-button {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .card-information {
      width: 100%;
    }

    .vehicleImage-container {
      width: 140px;
      min-height: 140px;
    }
    .starshipImg {
      width: 100%;
    }

    button {
      background-color: var(--primary-color);
      padding: 7% 3%;
      border-radius: 10px;
      font-family: var(--font);
      font-size: var(--font-size-standard);
      border: none;
      width: 10vw;
      cursor: pointer;
    }

    .isFavorite {
      width: 40px;
      height: 40px;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Emojione_1F49B.svg/640px-Emojione_1F49B.svg.png");
      background-size: 100%;
      align-self: flex-end;
    }

    .notFavorite {
      width: 40px;
      height: 40px;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg");
      background-size: 100%;
      align-self: flex-end;
    }
  }
}
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loaderText {
  color: var(--secondary-color);
  width: 100%;
  font-size: calc(var(--font-size-standard) * 2);
}

.wookieLoader {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
  }
}

// Partie reponsive mobile
@media screen and (max-width: 360px) {
}
