.container-filters {
  width: 20vw;
  background-color: var(--background-color);
  border-radius: 15px;
  color: var(--secondary-color);
  padding: 30px 14px 30px 14px;

  //container for icon and text "Filterby"
  .container-filter-title {
    display: flex;
    justify-content: center;
    gap: calc(var(--spacing) * 1.6);
  }

  .container-filter-title img {
    height: 30px;
  }

  h1 {
    text-align: center;
    font-size: calc(var(--font-size-standard) * 1.3);
    margin-bottom: 10%;
  }

  .container-looks,
  .container-gender,
  .container-favorite {
    padding-right: calc(var(--spacing) * 4);
    padding-bottom: calc(var(--spacing) * 4);
  }

  fieldset {
    border: 0;
  }

  //category name
  legend {
    font-size: calc(var(--font-size-standard) * 1);
    font-weight: var(--font-weight-text-bold);
  }

  //checkbox, radiobutton text
  label {
    font-size: calc(var(--font-size-standard) * 0.9);
    font-weight: var(--font-weight-text);
  }

  //container for input
  .entry {
    display: flex;
    gap: 8%;
    padding: 1% 5% 1% 10%;
  }

  .entry input {
    accent-color: var(--primary-color);
  }

  //container for icon and text for category
  .container-filter-category {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 1.6);
    padding: calc(var(--spacing) * 1.4);
  }

  .container-filter-category img {
    height: 30px;
  }

  .container-favorite {
    display: flex;
    gap: 10px;
  }

  .favorite {
    padding: calc(var(--spacing) * 1.4);

    img {
      height: 26px;
    }

    .text-favorite-checkbox {
      display: flex;
      align-items: center;
      gap: 15%;
    }
  }
}
// Partie reponsive mobile
@media screen and (max-width: 800px) {
  .container-filters {
    width: 80vw;
    height: 100vh;
    border-radius: 0 15px 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: #010101;
    z-index: 1;
    transition: 0.5s;
  }
}
