.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  font-family: var(--font);
  position: absolute;
  bottom: 0;
  padding: 10px;
  margin-left: 40vw;
}
