* {
  margin: 0;
}

.star-wars-opening {
  position: relative;

  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: "Droid Sans", sans-serif;
  overflow: hidden;
}

.opening-intro {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: #4ee;
  font-size: 3.4vw;

  opacity: 0;
  animation-name: intro;
  animation-duration: 5s;
  animation-timing-function: ease-out;
}

@keyframes intro {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.opening-stars {
  width: 100%;
  height: 100%;

  background-image: url("src/public/images/stars-bg.png");
  perspective: 25vh;

  opacity: 0;

  animation-name: stars;
  animation-duration: 0s;
  animation-timing-function: linear;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

@keyframes stars {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.opening-logo {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 175%;

  animation: logo 10s ease-out 6s forwards;
}

@keyframes logo {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}

.crawl-header {
  text-align: center;
  margin-bottom: 80px;
}

.crawl-title {
  margin-top: 40px;
  text-transform: uppercase;
}

.crawl-text {
  position: absolute;
  top: 180vh;

  font-size: 4.5vw;
  font-weight: 700;
  color: #ebd71c;
  text-align: justify;

  transform: rotateX(20deg);
  opacity: 1;

  animation: crawl 40s linear 13s forwards;
}

.crawl-text > p {
  margin: 40px 0;
}

@keyframes crawl {
  0% {
    top: 160vh;
    transform: rotateX(20deg) translateZ(53vh);
  }

  95% {
    opacity: 1;
  }

  100% {
    top: -300vh;
    transform: rotateX(20deg) translateZ(-100vh);
    opacity: 0;
  }
}
.wookie_taxi {
  display: flex;
  justify-content: center;
}
.wookie {
  width: 600px;
  height: 600px;
  opacity: 0;
  background: none;
  border: none;
  background-image: url(src/public/images/logo_wookie.png);
  background-size: 100%;
  animation-name: wookie;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 52s;
  animation-fill-mode: forwards;
  cursor: pointer;
}


@keyframes wookie {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
