.searchbar-container {
  background-color: #ffde06;
  padding: calc(var(--spacing) * 1.4);
  display: flex;
  border-radius: var(--search-border-radius);
  width: 50vw;
  position: relative;

  .map-icon {
    font-size: calc(var(--spacing) * 3);
  }

  .search-from {
    padding: calc(var(--spacing) * 0.8) calc(var(--font-size-standard) * 2.4)
      calc(var(--spacing) * 0.8) calc(var(--spacing) * 0.2);
    font-size: calc(var(--font-size-standard) * 0.85);
    background-color: #ffde06;
    border-right: 1px solid grey;
    color: #000000;
    display: flex;
    width: 16vw;
  }

  .search-to {
    padding: calc(var(--spacing) * 0.8) calc(var(--font-size-standard) * 1.2)
      calc(var(--spacing) * 0.8) calc(var(--spacing) * 1.2);
    font-size: calc(var(--font-size-standard) * 0.85);
    background-color: #ffde06;
    border: none;
    width: 20vw;
    border-right: 1px solid grey;
    font-family: var(--font);
    outline: none;
  }

  .depart {
    display: flex;
    padding: calc(var(--spacing) * 0.4);
  }

  .search-passenger {
    width: 10vw;
    font-family: var(--font);
    outline: none;
    background-image: url(./src/public/images/icons/stormtrooper_black.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: calc(var(--font-size-standard) * 1.5);
    font-size: calc(var(--font-size-standard) * 0.9);
    background-color: #ffde06;
    border: none;
    line-height: calc(var(--spacing) * 5);
    padding-left: calc(var(--spacing) * 6);
  }

  .displaySearchIcon {
    font-size: calc(var(--font-size-standard) * 1.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .hideSearchIcon {
    display: none;
  }

  .search-btn {
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0;
    right: 0;
    background-color: #ffde06;
    border: none;
    border-radius: 0px var(--search-border-radius) var(--search-border-radius)
      0px;
  }
}

// Partie reponsive mobile
@media screen and (max-width: 600px) {
  .searchbar-container {
    width: 90vw;

    .search-from {
      border-right: none;
      width: 30%;
      padding: 0;

      .map-icon {
        display: none;
      }
    }

    .search-to {
      border-right: none;
    }

    input[type="text"] {
      width: 50%;
    }

    .search-passenger {
      width: 25%;
    }
  }
}
